<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaemil.hgms">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".OazaApp">

        <activity android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.TutorialActivity"
            android:theme="@style/Theme.Intro"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation|smallestScreenSize">

        </activity>

        <activity android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoActionBar">

            <intent-filter>
                <action android:name="main_controls" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="oaza.tv"
                    android:pathPrefix="/video/watch/" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="oaza.tv"
                    android:pathPrefix="/album/view/" />
            </intent-filter>

        </activity>

        <activity android:name=".activity.YoutubePlayer"
            android:configChanges="keyboardHidden|screenSize|orientation|screenLayout|smallestScreenSize">

        </activity>

        <service android:name=".service.AudioPlaybackService"
            android:stopWithTask="false"
            android:enabled="true"/>

        <service android:name=".service.TrackerService"
            android:stopWithTask="false"
            android:enabled="true">

        </service>

        <receiver android:name=".receiver.BootAndUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.PhoneCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.AEDesign.communication.WifiReceiver" >
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4a9f379c8de34396a9eecacff9b374cdf8cd8083" />
        <meta-data android:name="DATABASE" android:value="oazatv.db" />
        <meta-data android:name="VERSION" android:value="11" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.chaemil.hgms" />
        <meta-data android:name="com.novoda.downloadmanager.MaxConcurrentDownloads" android:value="1" />

    </application>

</manifest>
